<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GNNHS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7143C3D81BE8F7F400391156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7143C3EC1BE8F7F500391156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7143C3F71BE8F7F500391156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
